@import "~@/assets/css/mixin";
.display-mode {
  width: 100%;
  height: 100%;
  color: var(--defaultfontColor2);
  display: flex;
  flex-direction: column;

  .warning {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    background-image: url(~@/assets/images/warning.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .color {
    position: relative;
    border: 1px solid var(--gary2);
    box-sizing: border-box;
    padding: 10px 20px;
    width: 100%;
    height: 75px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
    }

    .right {
      max-width: 70%;
    }

    .box-title {
      position: absolute;
      left: 17px;
      top: -9px;
      background-color: var(--gary4);
      text-align: center;
    }

    .tip {
      display: flex;
      .warning {
        margin-right: 8px;
      }
    }

    ::v-deep {
      @include resetCheckBox(#cccccc);
      .el-checkbox__label {
        color: var(--defaultfontColor2);
        font-weight: normal;
        font-size: 12px;
      }
      // checkbox 勾选字体颜色
      .el-checkbox__inner::after {
        border-color: #333333;
      }
      .el-checkbox__inner::before {
        background-color: #000000;
      }
      .el-radio-group {
        @include resetRadio(var(--navHoverColor));
        .el-radio {
          width: 70px;
          margin-right: 0;
        }
        .el-radio__label {
          padding-left: 5px;
          color: var(--defaultfontColor2);
          font-weight: normal;
          font-size: 12px;
        }
        // radio 勾选字体颜色
        .el-radio__inner::after {
          background-color: var(--navHoverColor);
          width: 8px;
          height: 8px;
        }
        .el-radio__inner::before {
          background-color: #000000;
        }
      }
    }
  }
  .position,
  .full-series,
  .image-stitching {
    margin-top: 30px;
  }

  .reg-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
    .left {
      display: flex;
      align-items: center;
    }
    .right {
      max-width: 60%;
    }
    ::v-deep {
      @include resetCheckBox(#cccccc);
      .el-checkbox__label {
        color: var(--defaultfontColor2);
        font-weight: normal;
        font-size: 12px;
      }
      // checkbox 勾选字体颜色
      .el-checkbox__inner::after {
        border-color: #333333;
      }
      .el-checkbox__inner::before {
        background-color: #000000;
      }
    }
  }
}
